{{- define "main" }}
<section class="home-posts">
    <h2>最近文章</h2>
    <ul>
        {{- range first 10 (where .Site.RegularPages "Type" "posts") }}
        <li class="home-post-item">
            <a class="home-post-title" href="{{ .Permalink }}">{{ .Title | .RenderString | plainify }}</a>
            <div class="home-post-meta">
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
                {{- with .GetTerms "tags" }}
                {{- range . }}
                <a href="{{ .Permalink }}" class="tag">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
            </div>
        </li>
        {{- end }}
    </ul>
</section>
{{- end }}
